# Laravel / Backend
backend-peternakan-app/vendor/
backend-peternakan-app/.env
backend-peternakan-app/storage/*.key
backend-peternakan-app/storage/logs/*

**/bin/
**/obj/
**/.vs/
**/packages/
*.user

**/build/
**/.gradle/
**/.idea/
*.iml

Tracker files
TrackerDesktop files


.DS_Store
Thumbs.db